body {
  background-color: #121212;
  color: #efefef;
  font-family: 'hero_lightlight';
  line-height: 1.1; }

#backgroundImg {
  background: url(../img/overlayGradient.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/overlayGradient.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/overlayGradient.jpg', sizingMethod='scale')";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

div#header {
  background-color: #282828;
  z-index: 200;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-top: 6px;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  -web-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); }
  div#header .img-container {
    display: inline;
    padding: 0 0 0 10px;
    width: 30px; }
    div#header .img-container img {
      width: 50px;
      display: inline; }
  div#header .project-name {
    display: inline;
    margin: 0 0 0 -15px; }
    div#header .project-name a {
      color: #efefef;
      text-decoration: none;
      margin: 0;
      letter-spacing: -1px;
      pointer-events: all;
      line-height: 1.1; }
  div#header div.contactMe {
    float: right;
    margin: 5px 20px 0 0; }
    div#header div.contactMe .btn {
      pointer-events: all;
      z-index: 200;
      min-width: 140px;
      display: inline-block;
      margin: 0 10px 0 0;
      color: #efefef !important;
      background-color: #303030 !important;
      border-color: #070707 !important;
      border-radius: 0; }
      div#header div.contactMe .btn:focus, div#header div.contactMe .btn.focus, div#header div.contactMe .btn:hover {
        color: #efefef !important;
        background-color: #444444 !important;
        border-color: #262626 !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.87) !important;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.87) !important; }

div#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 0 30px 20px;
  pointer-events: none;
  z-index: 200; }
  div#footer .img-container {
    margin-top: -10px;
    width: 120px; }
    div#footer .img-container img {
      height: 60px; }
  div#footer p,
  div#footer .p {
    color: #606060;
    font-weight: 600;
    line-height: 0.3; }
    div#footer p strong,
    div#footer .p strong {
      font-family: 'heroregular'; }

div#pointTT {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 1000;
  pointer-events: none;
  text-shadow: 0px 0px 6px #000;
  text-align: center; }

div#pointTT p.name {
  font-size: 16px;
  font-family: 'heroregular';
  color: #efefef;
  padding: 5px;
  background-color: #242424;
  width: 100%;
  margin-top: 0; }

div#timeline {
  position: absolute;
  display: block;
  padding-bottom: 0px;
  padding-right: 70px;
  bottom: 0;
  right: 0;
  z-index: 100; }

div#timeline ul li {
  display: inline-block;
  margin: 0 7px 0 0; }

div#timeline ul li a {
  display: block;
  width: 9px;
  height: 9px;
  background: url(../img/timeBullet.png) 0 0 no-repeat; }

div#timeline ul li a.selected,
div#timeline ul li a:hover {
  background: url(../img/timeBullet.png) 0 -9px no-repeat; }

div#timeline ul li span {
  font-size: 24px;
  font-family: 'heroregular';
  color: #aaaaaa;
  margin-top: 0;
  width: auto;
  height: auto; }

div#timeline ul li span.selected {
  color: #efefef; }

div#cursorsThumbnail {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 15px;
  width: 56px;
  height: 37px;
  background: url(../img/cursorsThumbnail.png) no-repeat center center;
  z-index: 200; }

/*OVERWRITING REVEAL.JS STYLES*/
.reveal {
  font-size: 38px;
  padding-top: 60px;
  padding-bottom: 60px; }

.reveal .slides {
  padding-top: -60px; }

.reveal .progress span {
  background-color: #b71c1c; }

img.border-frame,
video.border-frame,
canvas.border-frame {
  border: solid 5px #282828 !important; }

/*TYPEOGRAPHY*/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal .h1,
.reveal .h2,
.reveal .h3,
.reveal .h4,
.reveal .h5,
.reveal .h6 {
  font-family: 'hero_lightlight';
  font-weight: normal;
  line-height: 1.2;
  text-shadow: none;
  text-transform: none;
  color: #efefef;
  margin: 5px 0 5px 0; }
  .reveal h1 strong,
  .reveal h2 strong,
  .reveal h3 strong,
  .reveal h4 strong,
  .reveal h5 strong,
  .reveal h6 strong,
  .reveal .h1 strong,
  .reveal .h2 strong,
  .reveal .h3 strong,
  .reveal .h4 strong,
  .reveal .h5 strong,
  .reveal .h6 strong {
    font-family: 'heroregular'; }

.reveal p,
.reveal .p {
  font-family: 'hero_lightlight';
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 5px 0;
  font-size: 1.1em;
  letter-spacing: -0.1rem; }
  .reveal p strong,
  .reveal .p strong {
    font-family: 'heroregular'; }
  .reveal p small,
  .reveal p .small,
  .reveal .p small,
  .reveal .p .small {
    font-size: 0.8em; }

.reveal h1,
.reveal .h1 {
  letter-spacing: -2px; }

.reveal .slides .from-source {
  text-align: right;
  color: #808080;
  font-size: 0.4em;
  font-family: 'Roboto';
  padding-right: 20px;
  font-style: italic;
  font-weight: normal; }

.reveal .slides .text-left {
  text-align: left !important; }

.reveal .slides .text-right {
  text-align: right !important; }

.reveal .slides .text-center {
  text-align: center !important; }

.reveal .slides .text-logo {
  color: #b71c1c !important; }

.reveal .slides .text-muted {
  color: #808080; }

.reveal .slides .no-text-transform {
  text-transform: no !important; }

.reveal .slides .block {
  margin: 30px;
  background-color: #282828;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0 2px rgba(0, 0, 0, 0.01); }
  .reveal .slides .block .reveal .slides .block,
  .side-content .reveal .slides .block {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .reveal .slides .block-header {
    padding: 15px 20px;
    font-weight: 600;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
    .reveal .slides .block-header:before, .reveal .slides .block-header:after {
      content: " ";
      display: table; }
    .reveal .slides .block-header:after {
      clear: both; }
  .reveal .slides .block-title {
    font-size: 39px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2; }
    .reveal .slides .block-title.text-normal {
      text-transform: none; }
    .reveal .slides .block-title small {
      font-size: 37px;
      font-weight: normal;
      text-transform: none; }
  .reveal .slides .block-content {
    margin: 0 auto;
    padding: 20px 20px 20px;
    max-width: 100%;
    overflow-x: visible;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
    .reveal .slides .block-content p,
    .reveal .slides .block-content .push,
    .reveal .slides .block-content .block,
    .reveal .slides .block-content .items-push > div {
      margin-bottom: 20px; }
    .reveal .slides .block-content .items-push-2x > div {
      margin-bottom: 40px; }
    .reveal .slides .block-content .items-push-3x > div {
      margin-bottom: 60px; }
    .reveal .slides .block-content-full {
      padding-bottom: 20px; }
      .reveal .slides .block-content-full .pull-b {
        margin-bottom: -20px; }
    .reveal .slides .block-content .pull-t {
      margin-top: -20px; }
    .reveal .slides .block-content .pull-r-l {
      margin-right: -20px;
      margin-left: -20px; }
    .reveal .slides .block-content .pull-b {
      margin-bottom: -1px; }
    .reveal .slides .block-content.block-content-mini {
      padding-top: 10px; }
    .reveal .slides .block-content.block-content-full {
      padding-bottom: 10px; }
    @media screen and (min-width: 1200px) {
      .reveal .slides .block-content.block-content-narrow {
        padding-left: 10%;
        padding-right: 10%; } }
  .reveal .slides .block.block-full .block-content {
    padding-bottom: 20px; }
    .reveal .slides .block.block-full .block-content.block-content-mini {
      padding-bottom: 10px; }
    .reveal .slides .block.block-full .block-content.block-transparent {
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .reveal .slides .block.block-full .block-content > .block-banner-bar {
      padding: 10px;
      background: #141414; }

.push-5 {
  margin-bottom: 5px !important; }
  .push-5-t {
    margin-top: 5px !important; }
  .push-5-r {
    margin-right: 5px !important; }
  .push-5-l {
    margin-left: 5px !important; }

.push-10 {
  margin-bottom: 10px !important; }
  .push-10-t {
    margin-top: 10px !important; }
  .push-10-r {
    margin-right: 10px !important; }
  .push-10-l {
    margin-left: 10px !important; }

.push-15 {
  margin-bottom: 15px !important; }
  .push-15-t {
    margin-top: 15px !important; }
  .push-15-r {
    margin-right: 15px !important; }
  .push-15-l {
    margin-left: 15px !important; }

.push-20 {
  margin-bottom: 20px !important; }
  .push-20-t {
    margin-top: 20px !important; }
  .push-20-r {
    margin-right: 20px !important; }
  .push-20-l {
    margin-left: 20px !important; }

.push-25 {
  margin-bottom: 25px !important; }
  .push-25-t {
    margin-top: 25px !important; }
  .push-25-r {
    margin-right: 25px !important; }
  .push-25-l {
    margin-left: 25px !important; }

.push-30 {
  margin-bottom: 30px !important; }
  .push-30-t {
    margin-top: 30px !important; }
  .push-30-r {
    margin-right: 30px !important; }
  .push-30-l {
    margin-left: 30px !important; }

.push-35 {
  margin-bottom: 35px !important; }
  .push-35-t {
    margin-top: 35px !important; }
  .push-35-r {
    margin-right: 35px !important; }
  .push-35-l {
    margin-left: 35px !important; }

.push-40 {
  margin-bottom: 40px !important; }
  .push-40-t {
    margin-top: 40px !important; }
  .push-40-r {
    margin-right: 40px !important; }
  .push-40-l {
    margin-left: 40px !important; }

.push-45 {
  margin-bottom: 45px !important; }
  .push-45-t {
    margin-top: 45px !important; }
  .push-45-r {
    margin-right: 45px !important; }
  .push-45-l {
    margin-left: 45px !important; }

.push-50 {
  margin-bottom: 50px !important; }
  .push-50-t {
    margin-top: 50px !important; }
  .push-50-r {
    margin-right: 50px !important; }
  .push-50-l {
    margin-left: 50px !important; }

.push-55 {
  margin-bottom: 55px !important; }
  .push-55-t {
    margin-top: 55px !important; }
  .push-55-r {
    margin-right: 55px !important; }
  .push-55-l {
    margin-left: 55px !important; }

.push-60 {
  margin-bottom: 60px !important; }
  .push-60-t {
    margin-top: 60px !important; }
  .push-60-r {
    margin-right: 60px !important; }
  .push-60-l {
    margin-left: 60px !important; }

.push-65 {
  margin-bottom: 65px !important; }
  .push-65-t {
    margin-top: 65px !important; }
  .push-65-r {
    margin-right: 65px !important; }
  .push-65-l {
    margin-left: 65px !important; }

.push-70 {
  margin-bottom: 70px !important; }
  .push-70-t {
    margin-top: 70px !important; }
  .push-70-r {
    margin-right: 70px !important; }
  .push-70-l {
    margin-left: 70px !important; }

.push-75 {
  margin-bottom: 75px !important; }
  .push-75-t {
    margin-top: 75px !important; }
  .push-75-r {
    margin-right: 75px !important; }
  .push-75-l {
    margin-left: 75px !important; }

.push-80 {
  margin-bottom: 80px !important; }
  .push-80-t {
    margin-top: 80px !important; }
  .push-80-r {
    margin-right: 80px !important; }
  .push-80-l {
    margin-left: 80px !important; }

.push-85 {
  margin-bottom: 85px !important; }
  .push-85-t {
    margin-top: 85px !important; }
  .push-85-r {
    margin-right: 85px !important; }
  .push-85-l {
    margin-left: 85px !important; }

.push-90 {
  margin-bottom: 90px !important; }
  .push-90-t {
    margin-top: 90px !important; }
  .push-90-r {
    margin-right: 90px !important; }
  .push-90-l {
    margin-left: 90px !important; }

.push-95 {
  margin-bottom: 95px !important; }
  .push-95-t {
    margin-top: 95px !important; }
  .push-95-r {
    margin-right: 95px !important; }
  .push-95-l {
    margin-left: 95px !important; }

.push-100 {
  margin-bottom: 100px !important; }
  .push-100-t {
    margin-top: 100px !important; }
  .push-100-r {
    margin-right: 100px !important; }
  .push-100-l {
    margin-left: 100px !important; }

.push-105 {
  margin-bottom: 105px !important; }
  .push-105-t {
    margin-top: 105px !important; }
  .push-105-r {
    margin-right: 105px !important; }
  .push-105-l {
    margin-left: 105px !important; }

.push-110 {
  margin-bottom: 110px !important; }
  .push-110-t {
    margin-top: 110px !important; }
  .push-110-r {
    margin-right: 110px !important; }
  .push-110-l {
    margin-left: 110px !important; }

.push-115 {
  margin-bottom: 115px !important; }
  .push-115-t {
    margin-top: 115px !important; }
  .push-115-r {
    margin-right: 115px !important; }
  .push-115-l {
    margin-left: 115px !important; }

.push-120 {
  margin-bottom: 120px !important; }
  .push-120-t {
    margin-top: 120px !important; }
  .push-120-r {
    margin-right: 120px !important; }
  .push-120-l {
    margin-left: 120px !important; }

.push-125 {
  margin-bottom: 125px !important; }
  .push-125-t {
    margin-top: 125px !important; }
  .push-125-r {
    margin-right: 125px !important; }
  .push-125-l {
    margin-left: 125px !important; }

.push-130 {
  margin-bottom: 130px !important; }
  .push-130-t {
    margin-top: 130px !important; }
  .push-130-r {
    margin-right: 130px !important; }
  .push-130-l {
    margin-left: 130px !important; }

.push-135 {
  margin-bottom: 135px !important; }
  .push-135-t {
    margin-top: 135px !important; }
  .push-135-r {
    margin-right: 135px !important; }
  .push-135-l {
    margin-left: 135px !important; }

.push-140 {
  margin-bottom: 140px !important; }
  .push-140-t {
    margin-top: 140px !important; }
  .push-140-r {
    margin-right: 140px !important; }
  .push-140-l {
    margin-left: 140px !important; }

.push-145 {
  margin-bottom: 145px !important; }
  .push-145-t {
    margin-top: 145px !important; }
  .push-145-r {
    margin-right: 145px !important; }
  .push-145-l {
    margin-left: 145px !important; }

.push-150 {
  margin-bottom: 150px !important; }
  .push-150-t {
    margin-top: 150px !important; }
  .push-150-r {
    margin-right: 150px !important; }
  .push-150-l {
    margin-left: 150px !important; }

.push-155 {
  margin-bottom: 155px !important; }
  .push-155-t {
    margin-top: 155px !important; }
  .push-155-r {
    margin-right: 155px !important; }
  .push-155-l {
    margin-left: 155px !important; }

.push-160 {
  margin-bottom: 160px !important; }
  .push-160-t {
    margin-top: 160px !important; }
  .push-160-r {
    margin-right: 160px !important; }
  .push-160-l {
    margin-left: 160px !important; }

.push-165 {
  margin-bottom: 165px !important; }
  .push-165-t {
    margin-top: 165px !important; }
  .push-165-r {
    margin-right: 165px !important; }
  .push-165-l {
    margin-left: 165px !important; }

.push-170 {
  margin-bottom: 170px !important; }
  .push-170-t {
    margin-top: 170px !important; }
  .push-170-r {
    margin-right: 170px !important; }
  .push-170-l {
    margin-left: 170px !important; }

.push-175 {
  margin-bottom: 175px !important; }
  .push-175-t {
    margin-top: 175px !important; }
  .push-175-r {
    margin-right: 175px !important; }
  .push-175-l {
    margin-left: 175px !important; }

.push-180 {
  margin-bottom: 180px !important; }
  .push-180-t {
    margin-top: 180px !important; }
  .push-180-r {
    margin-right: 180px !important; }
  .push-180-l {
    margin-left: 180px !important; }

.push-185 {
  margin-bottom: 185px !important; }
  .push-185-t {
    margin-top: 185px !important; }
  .push-185-r {
    margin-right: 185px !important; }
  .push-185-l {
    margin-left: 185px !important; }

.push-190 {
  margin-bottom: 190px !important; }
  .push-190-t {
    margin-top: 190px !important; }
  .push-190-r {
    margin-right: 190px !important; }
  .push-190-l {
    margin-left: 190px !important; }

.push-195 {
  margin-bottom: 195px !important; }
  .push-195-t {
    margin-top: 195px !important; }
  .push-195-r {
    margin-right: 195px !important; }
  .push-195-l {
    margin-left: 195px !important; }

.push-200 {
  margin-bottom: 200px !important; }
  .push-200-t {
    margin-top: 200px !important; }
  .push-200-r {
    margin-right: 200px !important; }
  .push-200-l {
    margin-left: 200px !important; }

.push-205 {
  margin-bottom: 205px !important; }
  .push-205-t {
    margin-top: 205px !important; }
  .push-205-r {
    margin-right: 205px !important; }
  .push-205-l {
    margin-left: 205px !important; }

.push-210 {
  margin-bottom: 210px !important; }
  .push-210-t {
    margin-top: 210px !important; }
  .push-210-r {
    margin-right: 210px !important; }
  .push-210-l {
    margin-left: 210px !important; }

.push-215 {
  margin-bottom: 215px !important; }
  .push-215-t {
    margin-top: 215px !important; }
  .push-215-r {
    margin-right: 215px !important; }
  .push-215-l {
    margin-left: 215px !important; }

.push-220 {
  margin-bottom: 220px !important; }
  .push-220-t {
    margin-top: 220px !important; }
  .push-220-r {
    margin-right: 220px !important; }
  .push-220-l {
    margin-left: 220px !important; }

.push-225 {
  margin-bottom: 225px !important; }
  .push-225-t {
    margin-top: 225px !important; }
  .push-225-r {
    margin-right: 225px !important; }
  .push-225-l {
    margin-left: 225px !important; }

.push-230 {
  margin-bottom: 230px !important; }
  .push-230-t {
    margin-top: 230px !important; }
  .push-230-r {
    margin-right: 230px !important; }
  .push-230-l {
    margin-left: 230px !important; }

.push-235 {
  margin-bottom: 235px !important; }
  .push-235-t {
    margin-top: 235px !important; }
  .push-235-r {
    margin-right: 235px !important; }
  .push-235-l {
    margin-left: 235px !important; }

.push-240 {
  margin-bottom: 240px !important; }
  .push-240-t {
    margin-top: 240px !important; }
  .push-240-r {
    margin-right: 240px !important; }
  .push-240-l {
    margin-left: 240px !important; }

.push-245 {
  margin-bottom: 245px !important; }
  .push-245-t {
    margin-top: 245px !important; }
  .push-245-r {
    margin-right: 245px !important; }
  .push-245-l {
    margin-left: 245px !important; }

.push-250 {
  margin-bottom: 250px !important; }
  .push-250-t {
    margin-top: 250px !important; }
  .push-250-r {
    margin-right: 250px !important; }
  .push-250-l {
    margin-left: 250px !important; }

.push-255 {
  margin-bottom: 255px !important; }
  .push-255-t {
    margin-top: 255px !important; }
  .push-255-r {
    margin-right: 255px !important; }
  .push-255-l {
    margin-left: 255px !important; }

.push-260 {
  margin-bottom: 260px !important; }
  .push-260-t {
    margin-top: 260px !important; }
  .push-260-r {
    margin-right: 260px !important; }
  .push-260-l {
    margin-left: 260px !important; }

.push-265 {
  margin-bottom: 265px !important; }
  .push-265-t {
    margin-top: 265px !important; }
  .push-265-r {
    margin-right: 265px !important; }
  .push-265-l {
    margin-left: 265px !important; }

.push-270 {
  margin-bottom: 270px !important; }
  .push-270-t {
    margin-top: 270px !important; }
  .push-270-r {
    margin-right: 270px !important; }
  .push-270-l {
    margin-left: 270px !important; }

.push-275 {
  margin-bottom: 275px !important; }
  .push-275-t {
    margin-top: 275px !important; }
  .push-275-r {
    margin-right: 275px !important; }
  .push-275-l {
    margin-left: 275px !important; }

.push-280 {
  margin-bottom: 280px !important; }
  .push-280-t {
    margin-top: 280px !important; }
  .push-280-r {
    margin-right: 280px !important; }
  .push-280-l {
    margin-left: 280px !important; }

.push-285 {
  margin-bottom: 285px !important; }
  .push-285-t {
    margin-top: 285px !important; }
  .push-285-r {
    margin-right: 285px !important; }
  .push-285-l {
    margin-left: 285px !important; }

.push-290 {
  margin-bottom: 290px !important; }
  .push-290-t {
    margin-top: 290px !important; }
  .push-290-r {
    margin-right: 290px !important; }
  .push-290-l {
    margin-left: 290px !important; }

.push-295 {
  margin-bottom: 295px !important; }
  .push-295-t {
    margin-top: 295px !important; }
  .push-295-r {
    margin-right: 295px !important; }
  .push-295-l {
    margin-left: 295px !important; }

.push-300 {
  margin-bottom: 300px !important; }
  .push-300-t {
    margin-top: 300px !important; }
  .push-300-r {
    margin-right: 300px !important; }
  .push-300-l {
    margin-left: 300px !important; }

/*SECTIONS*/
section.landing .logo {
  width: 250px;
  height: 250px;
  margin: 0 0 -10px -5px !important;
  background: 0 !important;
  border: 0 !important;
  float: left; }

section.landing .text-logo strong {
  font-family: 'Roboto';
  font-weight: 600; }
