<!-- Header -->
<div id="header">
  <div class="img-container">
    <img src="dist/css/img/logo.svg" class="logo" />
  </div>
  <div class="project-name">
    <a href="#" id="slide-title"></a>
  </div>
  <div class="contactMe">
    <a class="btn" href="https://cenk.kilic.dev/">Cenk Kılıç</a>
  </div>
</div>
<!-- END Header -->
<!-- Footer -->
<div id="footer">
  <div class="row">
    <div class="img-container">
      <img src="template/assets/logo.png" alt="" />
    </div>
    <div>
      <p><strong>Some Environment</strong></p>
      <p>Some description</p>
    </div>
  </div>
</div>
<!-- END Footer -->
