<!-- Background Image Filter -->
<div id="backgroundImg"></div>
<!-- END Background Image Filter -->
<!-- Header -->
<div id="header">
  <div class="img-container">
    <img src="dist/css/img/logo.svg" class="logo" />
  </div>
  <div class="project-name">
    <a href="#">fullctrl</a>
  </div>
  <div class="contactMe">
    <a class="btn" href="https://cenk.kilic.dev/">Cenk Kılıç</a>
  </div>
</div>
<!-- END Header -->
<!-- Footer -->
<div id="footer">
  <div class="row">
    <div class="img-container">
      <img src="dist/css/img/technikum-wien-logo.png" alt="" />
    </div>
    <div>
      <p><strong>FH Technikum Wien</strong></p>
      <p>Telecommunication and Internet Technologies Master Program</p>
      <p>WS2019 - Thesis</p>
    </div>
  </div>
</div>
<!-- END Footer -->
<!-- Custom Timeline for selection slides -->
<div id="timeline">
  <ul></ul>
</div>
<div id="cursorsThumbnail" onclick="Reveal.toggleOverview()"></div>
<div id="pointTT">
  <p class="name"></p>
</div>
<!-- END Custom Timeline for selection slides -->
